.Signin {
  margin-top: 20px;
    float: right;
margin-right: 20px;
  font-size: 1em;
  display: flex;
  justify-content: flex-end;
  width: fit-content
}

.Signin>button {
  /* margin-left: 13%; */
  background-color: rgb(0, 0, 0);
  width: 130px;
  border-radius: 10px;
  color: rgb(251, 251, 251);
}
