.EditorComponent {
  margin: auto;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
}
.saveEditorDataButton{
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  color: rgb(252, 253, 255);

}
