.articleButton {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 1em;
  transition-duration: 0.1s;
  max-width: 70vw;
  border-radius: 200px;
  width: 70%;
  word-wrap: break-word;
}
.articleButton > button {
  transition-duration: 0.1s;
  padding: 1em;
  border-style: hidden;
  background-color: rgb(161, 161, 161);
  color: rgb(255, 255, 255);
  font-size: large;
  word-wrap: break-word;
}
.articleButton > button:hover {
  background-color: rgb(255, 146, 211);
  word-wrap: break-word;
}
.editButtonInsideHeadingButton {
  width: 20%;
}
.headingButton {
  width: 80%;
}
.editButtonInsideHeadingButton:hover {
  font-size: 1.5em;
  word-wrap: break-word;
}
.headingButton:hover {
  font-size: 1.5em;
  word-wrap: break-word;
}
