.articleButton {
  display: flex;
  justify-content: center;
  /* margin: auto; */
  margin-bottom: 1em;
  transition-duration: 0.1s;
  /* max-width: 70vw; */
  /* border-radius: 200px; */
  width: 80%;
  word-wrap: break-word;
  margin-right: 39px;
}
.articleButton > button {
  transition-duration: 0.1s;
  padding: 1em;
  margin-right: 2px;
  border-style: hidden;
  background-color: rgb(161, 161, 161);
  color: rgb(255, 255, 255);
  font-size: large;
  word-wrap: break-word;
  border-radius: 13px;
}
.articleButton > span {
  transition-duration: 0.1s;
  margin: auto;
  margin-right: 3px;
  border-radius: 13px;
  /* background-color: aqua; */
  /* float: right; */
}
.articleButton > span > svg {
  /* padding: 30px; */
  /* padding: 10px; */
  padding-top: 50%;
  padding-right: 0;
  padding-left: 5px;
  width: 25px;
  height: 25px;
}
.articleButton > span:hover {
  background-color: rgb(255, 146, 211);
  transform: translate(3px, 3px);
}
.articleButton > button:hover {
  background-color: rgb(255, 146, 211);
  word-wrap: break-word;
}
.editButtonInsideHeadingButton {
  width: 20%;
}
.headingButton {
  width: 90%;
}
.editButtonInsideHeadingButton:hover {
  font-size: 1.2em;
  word-wrap: break-word;
}
.headingButton:hover {
  font-size: 1.2em;
  word-wrap: break-word;
}

.articleDeleteForm {
  min-width: 80%;
  max-width: 81%;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 13px;
  margin: auto;
  /* background-color: aqua; */
}
.articleButton > .deleteButtonInsideHeadingButton {
  color: rgb(184, 26, 26);
  font-weight: bolder;
  /* background-color: aqua; */
}
#secretphrase {
  width: 80%;
  margin: auto;
}
.articleDeleteForm > button {
  margin: auto;
  min-width: 50%;
  max-width: 51%;
}
@media (max-width: 800px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .editButtonInsideHeadingButton {
    width: 20%;
  }
  .headingButton {
    width: 90%;
  }
}
