.ArticleCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 80%;
}
.ArticleCard > * {
  text-align: center;
}
.ArticleCard > h1 {
  font-size: 3em;
  font-weight: bolder;
  /* color: rgb(177, 62, 48); */
}

@media (max-width: 800px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .ArticleCard > * {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    width: 100%;
  }
}
