.ArticleCard {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ArticleCard > * {
  text-align: center;
}
.ArticleCard > h1 {
  font-size: 3em;
  font-weight: bolder;
  /* color: rgb(177, 62, 48); */
}
