* {
  /* font-size: 1em; */
  font-family: calibri;
  margin: 0;
  transition-duration: 1s;
}
.dark-theme {
  background-color: black;
  color: white;
}
.light-theme {
  background-color: white;
  color: black;
}
